html {
  font-size: 62.5%; }

body {
  background-color: #6666ff;
  font-family: Proxima Nova Soft, Helvetica Neue, sans-serif;
  font-size: 1.6rem; }

.containter {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1.6rem; }

.header {
  background: #000033;
  color: white;
  margin-bottom: 1.6rem;
  padding: 1.6rem 0; }

.header__title {
  font-size: 3.2rem;
  margin: 0;
  text-align: center; }

.header__subtitle {
  color: #ffffcc;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
  text-align: center; }

@media (min-width: 45rem) {
  .header {
    margin-bottom: 4.8rem; } }
