//Colors:
$brain-gray: #000033;
$light-blue: #6666ff;
$lavender-blue: #ccccff;
$pale-cyan: #ccffff;
$light-cyan: #99ffff;
$pale-red: #ffcccc;
$pale-magenta: #ffccff;
$pale-yellow: #ffffcc;

//Spacing:
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;
